body{ 
    background-image: url('https://cdn1.vectorstock.com/i/1000x1000/97/85/breaking-news-background-breaking-news-studio-vector-27279785.jpg');
    background-repeat:inherit;
}
.label{
    color: rgb(245, 11, 11);
}
.main{
    color: rgb(255, 255, 255);
    
}
.main:hover{
    color:rgb(8, 8, 3);
    background-color: wheat;
}
.ancher{
    color: rgb(255, 255, 255);
}
.ancher:hover{
    color:rgb(8, 8, 3);
    background-color: wheat;

}
.div:hover{
 background-color: rgb(122, 122, 121);
}
