body{ 
    background-image: url('https://cdn1.vectorstock.com/i/1000x1000/97/85/breaking-news-background-breaking-news-studio-vector-27279785.jpg');
    background-repeat:inherit;
}
.myText{
 padding-bottom:8px;
}
.label{
    color:white;
}
.main{
    color:red;
    font-size: 30px;
    font-weight: bold;
    background-image: linear-gradient(rgb(82, 0, 245),rgb(0, 162, 255)
    );
    
}
.main:hover{
    color:blue;
    background-image: linear-gradient(rgb(241, 240, 243),rgb(0, 255, 76)
    );
    font-weight: bold;
    
}
.ancher{
    color:red;
}
.ancher:hover{
    color:blue;
    font-weight: bold;
    


}
.div{
    margin-top: 10px;
}

.label{
    margin-top:10px;
}
