body{ 
    background-image: url('https://cdn1.vectorstock.com/i/1000x1000/97/85/breaking-news-background-breaking-news-studio-vector-27279785.jpg');
    background-repeat:inherit;
}
#myText{
    padding-right: 90px; padding-bottom: 10px;
    border: 15%;
}
.label{
    color: rgb(245, 11, 11);
}
.main{
    color: rgb(7, 7, 7);
    text-shadow: orange;
    
}
.main:hover{
    color:blue;
    background-color: yellow;
    font-weight: bolder;
    
}
.ancher{
    color: rgb(8, 8, 8);
}
.ancher:hover{
    color:blue;
    font-weight: bolder;
    


}
.div{
    margin-top: 10px;
}

.label{
    margin-top:10px;
}
